# Dependencies
node_modules

# Env
.env
.env.*
!.env.example

# Testing
coverage

# Turbo
.turbo

# Build outputs
.next/
out/
build
dist
*.tsbuildinfo
next-env.d.ts

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
old
